.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 18rem; /* Largeur des cartes */
  margin-bottom: 20px;
}

.card-deck {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr)); /* Jusqu'à 4 cartes par ligne */
  grid-gap: 20px;
}

.btn-group {
  display: flex;
}

.btn {
  margin-right: 10px;
}
